:root
{
  --bg-dark: #46526b;
  --bg-light: #cde8f0;
  --akcen-color1: #43474b;
  --akcen-color2: #abc6d0;
  --text-dark: #0c131b;
  --text-light: #f0f7ff;
  --shadow: #171922a1;
  --card-bg1: #212529;
  --card-bg2: #F8F9FA;
}

.dark-mode
{
  --bg: var(--bg-dark);
  --text: var(--text-light);
  --card:var(--card-bg1);
  --akcent: var(--akcen-color1);
}

.light-mode
{
  --bg:var(--bg-light);
  --text:var(--text-dark);
  --card:var(--card-bg2);
  --akcent: var(--akcen-color2);
}

html
{
  height: 100%;
}

body
{
  margin:0;
  padding: 0;
  min-width: 400px;
}

.background
{
  color: var(--text);
}

.setTheme
{
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 3;
}


.topbar
{
  box-shadow: 0px 0px 34px 1px var(--shadow);
  -webkit-box-shadow: 0px 0px 34px 1px var(--shadow);
  -moz-box-shadow: 0px 0px 34px 1px var(--shadow);
}

.nav-link
{
  font-size: 1.8rem;
  font-weight: 500;
}

.noteCard
{
  background-color: var(--card);
  margin: 1.2rem;
  border-radius: 0.6rem;
  min-width: 12rem;
  padding: 0.4rem;

  box-shadow: 0px 0px 11px -1px var(--shadow);
  -webkit-box-shadow: 0px 0px 11px -1px var(--shadow);
  -moz-box-shadow: 0px 0px 11px -1px var(--shadow);
}

.note
  {
    display: grid;
    justify-content: center;
  }

@media (min-width: 480px) {
  .note
  {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (min-width: 768px) {
  .note
  {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .note
  {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1200px) {
  .note
  {
    grid-template-columns: repeat(4, 1fr);
  }
}

.view
{
  margin-bottom: 1rem;
}


.title
{
  text-transform: uppercase;
  font-size: 1.2rem;
}

.book
{
  font-size: 1.1rem;
}

.addNote
{
  text-align: center;
  font-size: 1.8rem;
  vertical-align: middle;
  display: table;
}

.addNote--text
{
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}