:root
{
  --bg-color-dark: #46526b;
  --bg-color-light: #cde8f0;
}

html
{
  height: 100%;
}

body
{
  margin:0;
  padding: 0;
}

.dark-mode, .light-mode
{
  height: 100vh;
}

.dark-mode
{
  background-color: var(--bg-color-dark);
}

.light-mode
{
  background-color: var(--bg-color-light);
}

.setTheme
{
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 3;
}

img
{
  margin: 0.5rem;
}
