:root
{
  --bg-color-dark: #46526b;
  --bg-color-light: #ebf8fc;
}

html
{
  height: 100%;
}

body
{
  margin:0;
  padding: 0;
}

.dark-mode, .light-mode
{
  height: 100vh;
}

.dark-mode
{
  background-color: var(--bg-color-dark);
}

.light-mode
{
  background-color: var(--bg-color-light);
}

img
{
  margin: 1.7rem;
}