:root
{
  --bg-dark: #46526b;
  --bg-light: #cde8f0;
  --text-dark: #0c131b;
  --text-light: #f0f7ff;
  --shadow: #171922a1;
  --card-bg1: #68748f;
  --card-bg2: #a9c6d0;
}

.dark-mode
{
  --bg: var(--bg-dark);
  --text: var(--text-light);
  --card:var(--card-bg1);
}

.light-mode
{
  --bg:var(--bg-light);
  --text:var(--text-dark);
  --card:var(--card-bg2);
}

html
{
  height: 100%;
}

body
{
  margin:0;
  padding: 0;
}

.background
{
  height: 100vh;
  background-color: var(--bg);
  color: var(--text);
}

.setTheme
{
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 3;
}


.topbar
{
  box-shadow: 0px 0px 34px 1px var(--shadow);
  -webkit-box-shadow: 0px 0px 34px 1px var(--shadow);
  -moz-box-shadow: 0px 0px 34px 1px var(--shadow);
}

.nav-link
{
  font-size: 1.8rem;
  font-weight: 500;
}

.homeCard
{
  background-color: var(--card);
  width: 18rem;
  height: 30rem;
  margin: 3rem;
  border-radius: 0.6rem;

  box-shadow: 0px 0px 11px -1px var(--shadow);
  -webkit-box-shadow: 0px 0px 11px -1px var(--shadow);
  -moz-box-shadow: 0px 0px 11px -1px var(--shadow);
}